<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.poul.bits.addon.mqtt">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application>
        <service
            android:name="org.poul.bits.addon.mqtt.services.MQTTService"
            android:exported="false" />
        <service
            android:name="org.eclipse.paho.android.service.MqttService"
            android:exported="false" />
    </application>
</manifest>