<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.poul.bits.wearos">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings"
            android:theme="@style/Theme.BitsPrefs" />

        <service
            android:name="org.poul.bits.android.lib.services.BitsRetrieveStatusService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="org.poul.bits.wearos.tiles.TileUpdateIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".tiles.PoulBitsTileProviderService"
            android:exported="true"
            android:icon="@drawable/ic_poul_tile_logo"
            android:label="@string/app_name"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter>
                <action android:name="com.google.android.clockwork.ACTION_TILE_UPDATE_REQUEST" />
            </intent-filter>
        </service>

        <receiver
            android:name="org.poul.bits.wearos.tiles.TileUpdateBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="org.poul.bits.android.lib.broadcasts.action.BITS_STATUS_RETRIEVE_START" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.poul.bits.android.lib.broadcasts.action.BITS_STATUS_RECEIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.poul.bits.android.lib.broadcasts.action.BITS_STATUS_ERROR" />
            </intent-filter>
        </receiver>

        <service
            android:name=".complications.PoulBitsComplicationProviderService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_poul_tile_logo"
            android:label="@string/headquarters_status"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,LONG_TEXT,ICON" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="600" />
        </service>

        <receiver
            android:name=".complications.ComplicationUpdateBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="org.poul.bits.android.lib.broadcasts.action.BITS_STATUS_RECEIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.poul.bits.android.lib.broadcasts.action.BITS_STATUS_ERROR" />
            </intent-filter>
        </receiver>

    </application>

</manifest>