<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.poul.bits">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name="org.poul.bits.android.ui.activities.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver android:name="org.poul.bits.android.ui.widgets.HeadquartersStatusHorizontalWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="org.poul.bits.android.broadcasts.action.BITS_STATUS_RECEIVED"/>
                <action android:name="org.poul.bits.android.broadcasts.action.BITS_STATUS_ERROR"/>
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/headquarters_status_horizontal_widget_info"/>
        </receiver>

        <service
                android:name="org.poul.bits.android.services.BitsRetrieveStatusService"
                android:exported="false">
        </service>
    </application>

</manifest>